body {
  display: grid;
  place-content: center;
  background-color: #fff;
}

@keyframes scrollHorizontal {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.scroller {
  width: 100vw;
  overflow: hidden;
}

.scroller-content img {
  height: 30vh;
  border: 3px solid #000;
}

.scroller-content {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller .scroller-content {
  width: max-content;
  flex-wrap: nowrap;
  animation: scrollHorizontal var(--_animation-duration, 30s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[direction='right'] {
  --_animation-direction: reverse;
}

.scroller[direction='left'] {
  --_animation-direction: forwards;
}
