body {
  display: grid;
  place-content: center;
  background-color: #fff;
  overflow: hidden;
  margin: 0;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.scroller {
  width: 100vw;
  overflow: hidden;
}

.scroller-content img {
  height: 30vh;
  border: 3px solid #000;
  border-radius: 5px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.scroller-content img:hover {
  transform: scale(1.1);
}

.scroller-content .Special {
  box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.897);
}

.scroller-content .Special:hover {
  box-shadow: none;
  transform: scale(1.1);
}

.scroller-content {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller .scroller-content {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[direction='right'] {
  --_animation-direction: reverse;
}

.scroller[direction='left'] {
  --_animation-direction: forwards;
}

@keyframes fly {
  0% {
    transform: translateX(0) translateY(0) rotate(10deg);
  }
  100% {
    transform: translateX(120vw) translateY(30vh) rotate(10deg);
  }
}

#paper-plane {
  z-index: 1;
  left: -25vh;
  top: 30vh;
  height: 20vh;
  position: absolute;
  animation: none;
}

#Checkboxes {
  background-color: #fff;
  height: 30vh;
  width: 30vh;
  border: 3px solid #000;
  border-radius: 5px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  transition: transform 0.3s ease;
}

#Checkboxes:hover {
  transform: scale(1.1);
}
