body {
    margin: 0;
    display: grid;
    place-items: center;
}

.scroller {
    position: relative;
    width: 100%;
    height: 50vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.image-container {
    display: flex;
    width: calc(250px * 18);
    animation: scrolling var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.image-container:hover {
    animation-play-state: paused;
}

@keyframes scrolling {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-250px * 9));
    }
}

.scroller[direction='left'] {
    --_animation-direction: forwards;
}

.scroller[direction='right'] {
    --_animation-direction: reverse;
}

.scroll {
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    margin: 15px;
    perspective: 100px;
    border: 3px solid #000;
    border-radius: 3px;
    transition: transform 0.3s ease;
}

.scroll:hover {
    transform: scale(1.1);
}

.Special {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.Special:hover {
    box-shadow: none;
}

@keyframes fly {
    from {
        transform: translateX(0) translateY(0) rotate(10deg);
    }

    to {
        transform: translateX(120vw) translateY(30vh) rotate(10deg);
    }
}

#paper-plane {
    left: -20vw;
    top: 30vh;
    height: 20vh;
    position: absolute;
    animation: none;
}

#Checkboxes {
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
    padding: 5px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

#Checkboxes input[type="checkbox"] {
    width: 100%;
    height: 100%;
    margin: 0;
}

.image-frame {
    width: 250px;
    height: 200px;
    border: 3px solid #000;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.image-frame::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    background: url('images/happy-egg.png') repeat;
    animation: diagonal-move 20s linear infinite;
    background-size: 200px 200px;
}

@keyframes diagonal-move {
    from {
        background-position: 800px 800px;
    }

    to {
        background-position: 0 0;
    }
}